---
layout: index
title:  fernseed
---

<!-- Latest Post -->
<h1 id="article-title">
    <a href="{{ site.categories.the-second-room.first.url }}">
        {{ site.categories.the-second-room.first.summary }}
    </a>
</h1>
<article id="article-content">
    {{ site.categories.the-second-room.first.content }}
</article>
<footer id="article-meta">
    <span id='date'>
        <a href="{{ site.categories.the-second-room.first.url }}">
            {{ site.categories.the-second-room.first.date | date_to_string }}
        </a>
    </span>
    <span id='taglist'>
        {% for tag in site.categories.the-second-room.first.tags %}
            <a href="/tags/">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
    </span>
</footer>

<!-- Older Posts -->
<div id="site-history">
    <ol>
        {% for post in site.categories.the-second-room %}
            {% unless forloop.first %}
            <li>
            	<span>
            		<a href="{{ post.url }}" title="{{ post.summary }}">{{ post.title | downcase }}</a>
            	</span>
            	<span>
            		<a href="{{ post.url }}" title="{{ post.title | downcase }}">{{ post.summary }}</a>
            	</span>
            </li>
            {% endunless %}
        {% endfor %}
    </ol>
</div>
