---
layout: index
title: The Story So Far
tagline: The Second Room
categories: [fiction, the-second-room]
redirect_from: /complete/
permalink: /fiction/the-second-room/complete/
---

<!-- Total reading time -->
{% for post in site.categories.the-second-room %}
{% capture words %}{{ post.content | number_of_words | plus: words | append:".0" }}{% endcapture %}
{% endfor %}

<section class="fiction">
    <h1>
        The Second Room
    </h1>
    {% include html/reading_time.html %}

    <article>
        {% for post in site.categories.the-second-room reversed %}
            {{ post.content }}
            {%if forloop.last %}{% assign published = post.date %}{% else %}<hr />{% endif %}
        {% endfor %}
    </article>

    <h6>
        Last updated
    </h6>
    <h4>
        {{ published | date: "%A" }},
        {% assign d = published | date: "%-d" %}
        {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}
        {{ published | date: "%B" }},
        {{ published | date: "%Y" }}
    </h4>

</section>
