<section id="navigation">
    <nav>{% for post in site.categories.meta %}
        <a href="{{ post.url }}">{{ post.title | downcase }}</a>&nbsp;&middot;&nbsp;{% endfor %}
        <a href="/feed/">feed</a>
        &nbsp;&middot;&nbsp;
        <a href="/complete/">complete</a>
    </nav>
    <form id="search" method="get" action="http://duckduckgo.com/">
        <input type="hidden" name="sites" value="{{ site.url }}"/>
        <input type="hidden" name="ko" value="-1"/>
        <input type="hidden" name="kr" value="-1"/>
        <input type="hidden" name="k1" value="-1"/>
        <input type="hidden" name="k4" value="-1"/>
        <input type="text" name="q" id="search-box" maxlength="50" placeholder=""/>
        <input type="submit" value="search" style="visibility: hidden;" />
    </form>
</section>