---
---
{% include css/poole.css %}
{% include css/lanyon.css %}
{% include css/spinner.css %}
{% include css/syntax.css %}
{% include css/bigfoot-default.css %}

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400);

@font-face {
    font-family: 'calendas_plus';
    src: url('/assets/fonts/calendas_plus-webfont.eot');
    src: url('/assets/fonts/calendas_plus-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/calendas_plus-webfont.woff2') format('woff2'),
         url('/assets/fonts/calendas_plus-webfont.woff') format('woff'),
         url('/assets/fonts/calendas_plus-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'calendas_plus';
    src: url('/assets/fonts/calendas_plus_italic-webfont.eot');
    src: url('/assets/fonts/calendas_plus_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/calendas_plus_italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/calendas_plus_italic-webfont.woff') format('woff'),
         url('/assets/fonts/calendas_plus_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'calendas_plus';
    src: url('/assets/fonts/calendas_plus_bold-webfont.eot');
    src: url('/assets/fonts/calendas_plus_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/calendas_plus_bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/calendas_plus_bold-webfont.woff') format('woff'),
         url('/assets/fonts/calendas_plus_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

.jiggly {
    -webkit-animation: jiggle 0.3s 2;
    -moz-animation-duration: 0.3s;
    -moz-animation-name: jiggle;
    -moz-animation-iteration-count: 2;
}

@-moz-keyframes jiggle {
    25% {
        -moz-transform: rotate(-5deg);
}
  75% {
      -moz-transform: rotate(5deg);
  }
}

@-webkit-keyframes jiggle {
    25% {
        -webkit-transform: rotate(-5deg);
}
  75% {
      -webkit-transform: rotate(5deg);
  }
}

.masthead-tagline {
  font-weight: normal;
}

/* Define the base colours */

// Solarized Set
$solarized-base00: #657b83;
$solarized-base01: #586e75;
$solarized-base02: #073642;
$solarized-base03: #002b36;

$technology: #355CBD;
$fiction: #358766;
$meta: #BD3C35;
$base: black;
$sidebar-colour: #FFFFFF;

$body-font:     "calendas_plus", serif;
$heading-font:  "Source Sans Pro", sans;
$monspace-font: "Source Code Pro", monspace;
$sidebar-font:  $heading-font;

$break-small: 320px;
$break-large: 1200px;

/* Define the scale */

html { font-size: 19px; }

@import 'modular-scale';

$ms-base: 1rem 1.25rem;
$ms-ratio: $golden;

$very-small-size: ms(-2);
$small-size:      ms(-1);
$normal-size:     ms(0);
$large-size:      ms(2);
$very-large-size: ms(4);
$dropcap-size:    ms(6);

$small-line-height:  ms(1);
$normal-line-height: ms(2);
$large-line-height:  ms(4);

@mixin all-headings($from: 1, $to: 6){
    @for $i from $from through $to{
      h#{$i}{
        @content
      }
    }
}

@mixin sub-headings($from: 2, $to: 5){
    @for $i from $from through $to{
      h#{$i}{
        @content
      }
    }
}

.selector {
  cursor: pointer;
  font-weight: normal;
}

/* Set up the basic font and line-sizes */

small                  { font-size: $very-small-size; }
h6                     { font-size: $small-size;      }
body                   { font-size: $small-size;      line-height: $small-line-height; }
.post-date             { font-size: $small-size;      line-height: $small-line-height; }
.masthead-title        { font-size: $small-size;      line-height: $small-line-height; }
@include sub-headings(){ font-size: $small-size;      line-height: $normal-line-height; }
h1, .post-title        { font-size: $large-size;      line-height: $normal-line-height;  padding-top: 0; }

@media (min-width: 36em) {
  small                  { font-size: $very-small-size; }
  h6                     { font-size: $small-size;      }
  body                   { font-size: $normal-size;     line-height: $normal-line-height; }
  .post-date             { font-size: $normal-size;     line-height: $normal-line-height; }
  .masthead-title        { font-size: $normal-size;     line-height: $normal-line-height; }
  @include sub-headings(){ font-size: $normal-size;     line-height: $large-line-height; }
  h1, .post-title        { font-size: $very-large-size; line-height: $large-line-height;  padding-top: 0; }
}

.tag-cloud li {
  font-family: $heading-font;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.125em;
  line-height: $large-line-height;
  display: inline-block;
}

@include all-headings(){
  font-family: $heading-font;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.125em;
}

h1, .post-title {
      font-weight: normal;
}

h2, h3, h4, h5, h6 {
    padding-top: $large-size;
}

@media (min-width: 36em) {
  h2, h3, h4, h5, h6 {
      padding-top: $very-large-size;
  }
}

strong {
  color: inherit;
  font-weight: bold;
  font-style: normal;
}

$sidebar-width: 14rem;
$logo-width: 2rem;
$logo-margin: $normal-size;
$article-width: 32rem;
$max-width:     56rem;
$max-content-width: $max-width - $sidebar-width - $logo-width - (2*$logo-margin);

.sidebar {
  width: $sidebar-width;
}

article {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 56em) {
  article {
    width: $article-width;
  }
}

.post-title,
.post-subtitle {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.masthead-title {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 56em) {
  .post-title,
  .post-subtitle,
  .masthead-title {
    width: $max-content-width;
  }
}

hr {
  width: $article-width;
  margin-left: auto;
  margin-right: auto;
}

.post-title > a,
.post-subtitle > a {
  display: inline-block;
}

a {
  position: relative;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
    background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

.masthead-title a {
  color: $base;
}

.masthead-title > a:before {
    background-color: $base;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

body {
    text-align: left;
    font-family: $body-font;
    font-weight: normal;
    font-style: normal;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-lines: 2;
    -moz-font-feature-settings: "kern", "liga";
    -ms-font-feature-settings: "kern", "liga";
    -webkit-font-feature-settings: "kern", "liga";
    -o-font-feature-settings: "kern", "liga";
    font-feature-settings: "kern", "liga";
}

@media (min-width: 30em) {
  body {
      text-align: justify;
      text-justify: inter-character;
      word-break: break-all; 
      word-break: break-word;
  }
}

html {
    line-height: $normal-line-height;
}

.bigfoot-footnote__content p,
.sidebar-item {
    line-height: $small-line-height;
    font-size: $small-size;
}

.sidebar-item {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
.sidebar-item-header,
.no-breaks {
  word-break: normal;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
}

.light a:before {
  background-color: black;
}

.dark a:before {
  background-color: white;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

p + p {
  text-indent: $large-size;
}

.metadata {
    display:none;
}

.container {
    padding-left: 35px;
    padding-right: 35px;
    max-width: 100%;
}

@media (min-width: 30.1em) {
  .container {
    padding-left: 70px;
    padding-right: 70px;
  }

  .sidebar-toggle {
    position: fixed;
    width: $logo-width;
  }
  .sidebar-toggle:before {
    padding-bottom: $small-size;
    border-top-width: .45rem;
    border-bottom-width: .15rem;
  }
}

@media (min-width: 56em) {
  .container {
    max-width: $max-width;
  }
}

.offset {
    padding: $normal-size;
    margin: $normal-size;
}

path.sidebar-image {
  fill: $sidebar-colour;
  fill-opacity: 0.6;
}

rect.sidebar-image {
  stroke: $sidebar-colour;
  stroke-opacity: 0.6;
}

span.icons {
  letter-spacing: normal;
  word-spacing: normal;
}

span.base a:before,
.post.base a:before,
.sidebar.base{
    background-color: $base;
}

span.base,
span.base a,
.post.base a,
.post.base h1,
.post.base h2,
.post.base h3,
.post.base h4,
.post.base h5,
.post.base h6 {
    color: $base;
}

path.fiction {
  fill: $fiction;
}

span.fiction,
span.fiction a,
.post.fiction a,
.post.fiction h1,
.post.fiction h2,
.post.fiction h3,
.post.fiction h4,
.post.fiction h5,
.post.fiction h6 {
    color: $fiction;
}

span.fiction a:before,
.post.fiction a:before,
.sidebar.fiction {
    background-color: $fiction;
}

path.base {
  fill: $base;
}

path.technology {
  fill: $technology;
}

span.technology,
span.technology a,
.post.technology a,
.post.technology h1,
.post.technology h2,
.post.technology h3,
.post.technology h4,
.post.technology h5,
.post.technology h6 {
    color: $technology;
}

span.technology a:before,
.post.technology a:before,
.sidebar.technology{
    background-color: $technology;
}

path.meta {
  fill: $meta;
}

span.meta,
span.meta a,
.post.meta a,
.post.meta h1,
.post.meta h2,
.post.meta h3,
.post.meta h4,
.post.meta h5,
.post.meta h6 {
    color: $meta;
}

span.meta a:before,
.post.meta a:before,
.sidebar.meta {
    background-color: $meta;
}

ol,
ul {
    padding: $normal-size;
    margin: 0;
}

dl {
    padding: $normal-size;
    padding-top: $very-large-size;
    margin: 0;
}

.post ul,
.post ol {
  padding-top: $large-size;
  padding-bottom: $large-size;
  padding-left: $large-size;
  padding-right: 0;
    margin-left: $large-size;
}

.post ul ul,
.post ol ol {
  padding-top: 0;
  padding-bottom: 0;
    margin-left: $normal-size;
}

.sidebar-nav {
  margin-bottom: $normal-size;
}

.progress-chart {
  max-width: $max-content-width;
  margin: auto;
  margin-bottom: $very-large-size;
}



.progress-chart text {
    font-family: $heading-font;
}

.sidebar-item li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidebar-item {
  padding: $normal-size;
}

ol { 
    counter-reset: item
}

ol li { 
    display: block
}

ol li:before { 
    content: counters(item, ".") ") "; counter-increment: item
}

.footnotes ol { 
  counter-reset: footnote-item;
}

.footnotes ol li {
  margin-bottom: $normal-size;
}

.footnotes ol li:before { 
    font-weight: 700;
    content: "Note " counters(footnote-item, ".") ": "; counter-increment: footnote-item
}

.gist-meta { display:none; }
.gist .gist-file { border-bottom: 0px }

.gist {
  margin-top: $normal-size;
  margin-bottom: $normal-size;
}

.post .gist .line-pre {
  font-family: "Source Code Pro" !important;
  font-size: $very-small-size !important;
}

.gist .line-number {
 width: 1rem;
}

.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}


.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
}


.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

dt {
    font-weight: 400;
}

dd {
    padding-left: $normal-size;
    margin: 0;
}

div .tag-entry {
  margin-top: $large-size;
}

.category-intro {
    margin-bottom: $very-large-size;
    font-style: italic;
}

.masthead {
  border-bottom: 0px;
}

.masthead-title {
  padding-top: $small-size;
  font-weight: normal;
}

.post-date {
    text-align: center;
}

.post-title,
.post-subtitle {
    content: "";
}

.post-more {
    display: block;
    text-align: center;    
}

.overlay {
    vertical-align: middle;
    height: 10vh;
    max-height: 250px;
    min-height: 150px;
    width: 100%;
    position: absolute;
    z-index: 2;
    background: rgba(0,0,0,1);
}

img { 
    max-width: none;
    margin: 0;
    border-radius: 0;
    padding-top: $very-large-size;
    padding-bottom: $very-large-size;
}

.featured-image {

    height: 10vh;
    max-height: 250px;
    min-height: 150px;
    vertical-align: middle;
    width: 100%;
    background-position: center center;
    background-size: cover;
    vertical-align: middle;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    top: 0;
    z-index: -1;
    margin-bottom: $large-size;
}

.wrap {
    float: none;
    margin: 0 auto;
    overflow: hidden;
}

.post {
    display: block;
    float: none;
}

.site-header, .sidebar-toggle {
  z-index: 5000;
}

.site-header {
  padding: $normal-size 0;
  position: absolute;
  width: 100%;
}

.light a {
    color: black;
}

.dark a {
    color: white;
}

.project-type {
  float: right;
  font-weight: normal;
  font-variant: small-caps;
  font-family: $heading-font;
  letter-spacing: 0.1em;
}

blockquote {
  padding-left: $normal-size;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
  text-align: left;
  word-break: normal;
}

@media (min-width: 56em) {
  blockquote {
  padding-left: $normal-size;
  padding-right: $normal-size;
  margin-left: $large-size;
  margin-right: $large-size;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
  text-align: justify;
  text-justify: inter-character;
  word-break: break-all; 
  word-break: break-word;
  }
}

.highlight {
    margin: 0;
    margin-top: $large-size;
    margin-bottom: $large-size;
    border-radius:30px;
    overflow-x: scroll;
}

@media (min-width: 30em) {
    .highlight {
        margin: $large-size;
        border-radius:30px;
        overflow-x: scroll;
    }
}

.highlight pre code {
  background-color: #002b36;
}

pre {
  margin-top: $normal-size;
  margin-bottom: $normal-size;
}

pre code {
  font-family: "Source Code Pro";
  font-size: $very-small-size;
  line-height: $small-size;
}

code {
  font-family: "Source Code Pro";
  font-size: $very-small-size;
}

.sidebar {
    font-family: "Source Sans Pro";
}

.sidebar-item-header {
    text-transform: uppercase;
    text-align: center;
    padding: $normal-size;
    padding-top: $large-size;
    padding-bottom: $large-size;
    margin: 0;

    font-style: normal;

    text-align: center;
    text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.125em;
}

.fleuron {
    text-align: center
}

.sidebar-toggle:active, #sidebar-checkbox:checked ~ .sidebar-toggle {
    background-color: white;
}

.sidebar-toggle {
  top:  0;
  left: 0;
  padding: 0;
  padding-top: $small-size;
  margin: $logo-margin;
  margin-top: $small-size;
  border-radius: $logo-width;
  width: $logo-width;
}

.sidebar-toggle:before {
  padding: 0;
  border: 0;
  margin: 0;
  border-top: 0;
  border-bottom: 0;
  border-top-width: 0;
  border-bottom-width: 0;
}

ul ul,
ol ol {
    padding: 0;
    margin: 0;
    margin-left: $large-size;
}

.tag-history ul li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content: "";
    list-style-type: none;
}

#search-box {
    border-radius: 20px;
    text-align: center
}

#search-input {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    height: 35px;
    width: 200px;
    text-align: center
}

#article-1-content p:first-child:first-letter {
  float: left; 
  color: $fiction;
  font-size: $dropcap-size; 
  line-height: $dropcap-size;
  margin-right: $small-size; 
}

.tag-cloud ul {
    list-style: none;
    width: 90%;
    padding: 0;
    margin: auto;
    text-align: center
}

.fancy {
    -moz-font-feature-settings: "kern", "liga", "dlig", "ss02", "swsh";
    -ms-font-feature-settings: "kern", "liga", "dlig", "ss02", "swsh";
    -webkit-font-feature-settings: "kern", "liga", "dlig", "ss02", "swsh";
    -o-font-feature-settings: "kern", "liga", "dlig", "ss02", "swsh";
    font-feature-settings: "kern", "liga", "dlig", "ss02", "swsh";
}
