---
layout: index
title: Archive
summary: the story so far
---

<section id="content">
    <div id="article" itemscope itemtype="http://schema.org/Article">
        <meta itemprop="name" content="the story so far" />
        <div id="article-content" itemprop="articleBody">
            {% for post in site.categories.the-second-room reversed %}
                {% capture words %}{{ post.content | number_of_words | plus: words }}{% endcapture %}
                <div id="article-{{forloop.index}}-content">
                    {{ post.content }}
                </div>
                <div id="article-{{forloop.index}}-link" class="fleuron">
                    <a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">
                        {%if forloop.last %}{% assign published = post.date %}&hellip;{% else %}#{% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
        <meta itemprop="wordCount" content="{{ words }}" />
        <meta itemprop="datePublished" content="{{ published | date_to_xmlschema }}" />
    </div>
</section>
