{% include html/sidebar.html %}
<!-- Wrap is the content to shift when toggling the sidebar. We wrap the
 content to avoid any CSS collisions with our real content. -->
 <div class="wrap">

  {% assign index_category = page.title | replace:' ','-' %}

  <div class="masthead{% if page.image %} site-header dark{% endif %}">
    <div class="container">
      {% if page.url != "/index.html" %}<h3 class="masthead-title">{% else %}<h1 class="masthead-title">{% endif %}<a href="/">{{ site.title }}</a>{% if page.url == "/index.html" %}<span class="masthead-tagline">&mdash;{{ site.description }}</span>{% endif %}
        {% if page.url != "/index.html" %}
        <span class="masthead-tagline">
          {% if page.categories %} &middot; {% endif %}
          <span class="{{ page.categories | first }}">
            {% for category in page.categories %}
              {% unless forloop.first %}  &middot; {% endunless %}
              {% capture category_hierarchy %}{% for i in (0..forloop.index0) %}{{ page.categories[i] }}/{% endfor %}{% endcapture %}
              {% unless page.categories[i] == index_category %}
                <a href="/{{ category_hierarchy }}">{{ category | replace:'-',' ' }}</a>
              {% endunless %}
            {% endfor %}
              {% if page.type == "index" %}
              {% if page.tagline %}
              &middot; 
              {{ page.title }}
              {% endif %}
            {% else %}
              {% if page.tagline %}
              &middot;  
              {{ page.title }}
              {% endif %}
            {% endif %}
          </span>
        </span>
        {% endif %}
      {% if page.url != "/index.html" %}</h3>{% else %}</h1>{% endif %}
    </div>
  </div>

  {% if page.image %}

  <div class="overlay"></div>
  <div class="featured-image" style="background-image: url({{ page.image }})"></div>

  {% endif %}

  <div class="container content post {{ page.categories.first }}" id="article" {% unless page.type == "index" %}itemscope itemtype="http://schema.org/Article"{% endunless %}>
    {% unless page.type == "index" %}
      <h6 class="post-subtitle" />

      <h1 class="post-title" id="article-title">
          <span itemprop="name">{% if page.tagline %}{{ page.tagline }}{% else %}{{ page.title }}{% endif %}</span>
      </h1>

      {% assign words = page.content | number_of_words %}

      <meta itemprop="wordCount" content="{{ words }}" />

      {% capture significant_wordcount %}{{ words | minus:360 }}{% endcapture %}

      {% unless significant_wordcount contains "-" %}
        {% include html/reading-time.html %}
      {% endunless %}
    {% endunless %}

    {% unless page.type == "index" %}    
      <hr/>
      <article id="article-content" itemprop="articleBody">
    {% endunless %}
    {{ content }}
    {% unless page.type == "index" %}
      </article>
      
      {% capture published %}{% include html/date.html %}{% endcapture %}
      {% capture modified %}{% include html/date-modified.html %}{% endcapture %}

      <hr />

      <span class="post-date offset">
        <span id='date' itemprop="datePublished" content="{{ published | date_to_xmlschema }}">{{ published }}</span>{% if page.modified %}{% if modified != published  %}<br /><small><a href="{{ site.history_url }}{{ page.path }}">Updated</a>: {{ modified }}</small>{% endif %}{% endif %}
      </span>
    {% endunless %}

  </div>

  {% unless page.type == "index" %}
    <div class="metadata">
      <div class="post excerpt {{ page.categories.first }}">
        <h6 class="post-subtitle">
          {% for category in page.categories %}
          {% capture category_hierarchy %}{% for i in (0..forloop.index0) %}{{ page.categories[i] }}/{% endfor %}{% endcapture %}
          <a href="/{{ category_hierarchy }}">{{ category | replace:'-',' ' }}</a>{% unless forloop.last %} &middot; {% endunless %}
          {% endfor %}
          {% if page.tagline %} &middot; <a href="{{ page.url }}">{{ page.title }}</a>{% endif %}
        </h6>
      <h2 class="post-title">
          <a href="{{ page.url }}">{% if page.tagline %}{{ page.tagline }}{% else %}{{ page.title }}{% endif %}</a>
        </h2>
        <span class="post-date">
          {% include html/date.html %}
        </span>
        <article itemscope itemtype="http://schema.org/Article">
          <meta itemprop="url" content="{{ page.url }}" />
          <meta itemprop="name" content="{% if page.tagline %}{{ page.tagline }}{% else %}{{ page.title }}{% endif %}" />
          <meta itemprop="wordCount" content="{{ page.content | number_of_words }}" />
          <meta itemprop="datePublished" content="{{ published | date_to_xmlschema }}" />
          {% if page.summary %}
          {{ page.summary }}
          {% else %}
          <blockquote>{{ page.excerpt | strip_html | strip_newlines }}</blockquote>
          {% endif %}
        </article>
      </div>
    </div>
    <script>
      if ($( "#markdown-toc" ) != null && $( "#markdown-toc" ).length != 0) {
        $( "#sidebar-toc" ).html("Contents:");
        $( "#markdown-toc" ).appendTo( "#sidebar-toc" );
      }
    </script>
  {% endunless %}  
</div>

<label for="sidebar-checkbox" class="sidebar-toggle">
 {% include images/logo.svg %}
</label>
