{% seo %}

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="{% if page.type == "index" %}index{% else %}{{ page.tags | join: ", " }}{% endif %}" />
<meta name="theme-color" content="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/images/favicon/144x144.png">

<link rel="mask-icon" mask href="/assets/images/logo.svg" color="black">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/images/favicon/57x57.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/favicon/72x72.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/favicon/120x120.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/favicon/152x152.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/32x32.png">
<link rel="icon" type="image/png" sizes="48x48" href="/assets/images/favicon/48x48.png">
<link rel="icon" type="image/png" sizes="64x64" href="/assets/images/favicon/64x64.png">
<link rel="icon" type="image/png" sizes="144x144" href="/assets/images/favicon/144x144.png">
<link rel="icon" type="image/png" sizes="195x195" href="/assets/images/favicon/195x195.png">
<link rel="icon" type="image/png" sizes="228x228" href="/assets/images/favicon/228x228.png">
<link rel="author" type="text/plain" href="/humans.txt">
<style type="text/css">
  {% capture include_to_scssify %}
    {% include css/fernseed.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
</style>
<link href="{{ site.feed_url }}?format=xml" type="application/atom+xml" rel="alternate" title="Site Feed" />
{% if page.categories %}<link href="{{ site.feed_url }}/{{ page.categories.first }}?format=xml" type="application/atom+xml" rel="alternate" title="Category Feed: {{ page.categories.first }}" />{% endif %}

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/assets/js/bigfoot.min.js"></script>  
<script type="text/javascript">
	{% include js/infinite-scroll.js %}
	{% include js/sidebar.js %}
	{% include js/images.js %}
	{% include js/responsive.js %}
	{% include js/search.js %}
	{% include js/tags.js %}
	{% include js/utilities.js %}	
</script>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<noscript>
    <style>
    img { 
	    margin-left: auto;
	    margin-right: auto;
	    max-width: 100%;
	}

	.js-only { 
		display: none
	}
    </style>
</noscript>