<footer id="article-meta">

      {% capture published %}{% include html/date.html %}{% endcapture %}
      {% capture modified %}{% include html/date-modified.html %}{% endcapture %}

    <span id='date' itemprop="datePublished" content="{{ published | date_to_xmlschema }}">
        <a href="{{ page.url }}">
                {{ page.date | date: "%A, %-d %B, %Y" }}
        </a>
    </span>
    <span id='date' itemprop="dateModified" content="{{ modified | date_to_xmlschema }}" />
    <span id='taglist'>
        {% for tag in page.tags %}
            <a href="/tags/">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
    </span>
</footer>
