<div class="post {{ post.categories.first }}">
  <h6 class="post-subtitle">
    {% assign skipped-last = true %}
    {% assign index_category = page.title | replace:' ','-' %}
    {% for category in post.categories %}
    {% capture category_hierarchy %}{% for i in (0..forloop.index0) %}{{ post.categories[i] }}/{% endfor %}{% endcapture %}
    {% unless page.categories contains category %}
    {% unless forloop.first or skipped-last %} &middot; {% endunless %}<a href="/{{ category_hierarchy }}">{{ category | replace:'-',' ' }}</a>
    {% assign skipped-last = false %}
    {% endunless %}
    {% endfor %}
    {% if post.tagline %}{% unless skipped-last %} &middot; {% endunless %}<a href="{{ post.url }}">{{ post.title }}</a>{% endif %}
  </h6>
  <h2 class="post-title">
      <a href="{{ post.url }}">{% if post.tagline %}{{ post.tagline | replace: ' and ', ' & ' }}{% else %}{{ post.title | replace: ' and ', ' & ' }}{% endif %}</a>
  </h2>
  <span class="post-date">
    {{ post.date | date: "%A" }},
    {% assign d = post.date | date: "%-d" %}
    {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %} 
    {{ post.date | date: "%B" }},
    {{ post.date | date: "%Y" }}
  </span>
  <article itemscope itemtype="http://schema.org/Article">
    <meta itemprop="url" content="{{ post.url }}" />
    <meta itemprop="name" content="{% if post.tagline %}{{ post.tagline }}{% else %}{{ post.title }}{% endif %}" />
    <meta itemprop="wordCount" content="{{ post.content | number_of_words }}" />
    <meta itemprop="datePublished" content="{{ post.date | date_to_xmlschema }}" />
    {% if post.summary %}
    {{ post.summary  | strip_html | strip_newlines }}
    {% else %}
    <blockquote>{{ post.excerpt | strip_html | strip_newlines }}</blockquote>
    {% endif %}
  </article>
</div>  