<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
 styles, `#sidebar-checkbox` for behavior. -->
 <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" />

 <!-- Toggleable sidebar -->
 <div class="sidebar {% if page.categories %}{{ page.categories.first }}{% else %}base{% endif %}" id="sidebar">
  {% if page.type == "index" %}
    <div class="sidebar-item-header">
      {% if page.tagline %}{{ page.tagline }}{% else %}{{ page.title }}{% endif %}<br />
    </div>
  {% else %}
    <div class="sidebar-item-header">
      {% if page.tagline %}{{ page.tagline }}{% else %}{{ page.title }}{% endif %}<br />
      {% if page.date  %}
      {% include html/date.html %}
      {% endif %}
    </div>
  {% endif %}
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}" href="/">Home</a>
    {% assign pages_list = site.posts | sort:"url" %}
    {% for node in pages_list %}
    {% if node.sticky != null %}
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
    {% endif %}
    {% endfor %}
  </nav>
  {% if page.summary %}
  <div class="sidebar-item">
    {{ page.summary }}
  </div>
  {% else %}
  <div class="sidebar-item">
    {{ site.description }}
  </div>
  {% endif %}
  {% if page.sidebar %}
  <div class="sidebar-item">  
    {{ page.sidebar }}
  </div>
  {% endif %}
  {% if page.tags and page.tags.size > 0 %}
  <div class="sidebar-item">
    Tagged:  
    {% for tag in page.tags %}
    <a href="/meta/tags/?tag={{ tag }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </div>
  {% endif %}
  <div id="sidebar-toc" class="sidebar-item" ></div>
  {% if page.feature %}
  <div class="sidebar-item"> 
    Thanks to '{{ page.credit }}'.
  </div>
  {% endif %}
  {% if page.gists %}
  <div class="sidebar-item">
  Gists:
  <ul>
    {% for gist in page.gists %}
      <li><a href="https://gist.github.com/{{ gist }}">{{ gist }}</a></li>
    {% endfor %}
  </ul>
  </div>
  {% endif %}
  {% if page.files %}
  <div class="sidebar-item">
  Files:
  <ul>
    {% for file in page.files %}
      <li><a href="/assets/files/{{ file }}">{{ file }}</a></li>
    {% endfor %}
  </ul>
  </div>
  {% endif %}
  {% comment %} 
  {% if site.related_posts %}
   <div class="sidebar-item"> 
   Related Items:
   <ul>
   {% for post in site.related_posts %}
    <li><a href="{{ post.url }}">{% if post.tagline %}{{ post.tagline }}{% else %}{{ post.title }}{% endif %}</a></li>
    {% endfor %}
  </ul>
  </div> 
  {% endif %}
  {% endcomment %} 
  <div class="sidebar-item-header">
    <a href="http://feeds.feedburner.com/fernseed?format=xml">Feed</a><br />
    <a href="https://raw.githubusercontent.com/fernseed/fernseed.github.io/master/{{ page.path }}">Source</a><br />
    <span>Copyright &copy; {{ site.time | date: '%Y' }}</span>
    <div id="search-input">
      <input id="search-box" type="text" placeholder="search" autocomplete="off" />
    </div>
  </div>
  <div id="search-output" class="sidebar-item">
    <span id="search-header"></span>
    <ul id="search-results"></ul>
  </div>
</div>
