<!DOCTYPE html>
<html lang="en">
{% include header.html %}
<body>
        <header>
            <h2 id="site-title"><a href="/">{{ site.name }}</a></h2>
        </header>
        <section id="content">
            <div id="article">
                <h1 id="article-title">
                    <a href="{{ page.url }}">
                        {{ page.summary }}
                    </a>
                </h1>
                <div id="article-content">
                    {{ content }}
                </div>
            {% include metadata.html %}
            </div>
        </section>

        <!--Navigation-->
        <div id="article-neighbour">
            {% if page.previous and page.previous.categories contains "the-second-room" %}
                <span><a href="{{ page.previous.url}}">back</a></span>
                {% if page.next %}&nbsp;&middot;&nbsp;{% endif %}
            {% endif %}
            {% if page.next and page.next.categories contains "the-second-room"  %}
                <span><a href="{{ page.next.url}}">continue</a></span>
            {% endif %}
        </div>

        {% include footer.html %}
</body>
</html>
