<!DOCTYPE html>
<html lang="en">
<head>
        <title>{{ page.title }}</title>

        <meta charset="utf-8" />
        <meta name="description" content="An experiment in serialised prose fiction." />
        <meta name="keywords"    content="serial, prose, fiction, second person, slipstream, mystery" />
        <meta name="viewport"    content="width=device-width, initial-scale=1.0" />
        
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7010432/619502/css/fonts.css" />
        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
        <header>
                <h2 id="site-title"><a href="/">{{ site.name }}</a></h2>
        </header>
        <section id="content">
                {{ content }}
        </section>
</body>
</html>