---
layout: index
title:  the second room
categories: [fiction, the-second-room]
sidebar: 
    <em>The Second Room</em> is essentially a work in progress experient in how to best produce serialised web fiction. It also acts as a reminder to me that the only way to improve as a writer is to continue writing, daily, until I improve.
---
<div class="posts">
	<div class="post fiction">
		<h6 class="post-subtitle">
			<a href="complete/">The Story So Far</a>
		</h6>
		<h2 class="post-title">
			<a href="complete/">The Second Room</a>
		</h2>
		<article>
		<blockquote>
			{{ site.categories.the-second-room.last.excerpt }}
		</blockquote>
		You can read the serial to date on a single page by following the link above or look for individual parts listed below.
		</article>
	</div>
	{% for post in site.categories.the-second-room %}
	{% include html/post-loop.html %}
	{% endfor %}
</div>
